<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">Listado de Locadores</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/listado">Listado
                    <span class="visually-hidden">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vaciones-listado">Vacaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>

        <form class="d-flex">
            <input class="form-control me-sm-2 ri" type="search" placeholder="Search" />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                Search
            </button>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>