<h1 class="text-center">Component Login</h1>
<div class="container" class="row mt-1">
    <div class="col-lg-4 offset-lg-4">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header text-center">Login - Busqueda de Servicios </div>
            <div class="card-body text-center">
                <div class="d-flex flex-row justify-content-around align-self-center">
                    <input type="text" class="form-control m-2" placeholder="Usuario">
                    <input type="text" class="form-control m-2" placeholder="Contraseña">
                </div>
                <div class="d-flex flex-row justify-content-around align-self-center">
                    <button type="button" class="btn btn-dark btn-lg m-2" routerLink="/tablita">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet>

</router-outlet>